#titlecontainer {
  flex: 2;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 0;
  font-size: 15vw;
  background-size: 400%;
  background-image: repeating-linear-gradient(
    30deg,
    red,
    rgb(255, 107, 139) 8%,
    rgb(14, 230, 129) 16%,
    rgb(32, 148, 194) 24%,
    rgb(57, 57, 255) 32%,
    rgb(204, 12, 243) 40%,
    rgb(255, 0, 0) 48%
  );

  -moz-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
